@inject NavigationManager NavigationManager
@namespace SecureNotes.Blazor.Pages

@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout" class="btn btn-danger">Wyloguj się</button>
    </Authorized>

    <NotAuthorized>
        <button @onclick="Login" class="btn btn-primary">Zaloguj się</button>
    </NotAuthorized>
</AuthorizeView>

<button @onclick="Register" class="btn btn-warning">Zarejestruj się</button>

@code {
    private async Task Login()
    {
        NavigationManager.NavigateTo("login");
    }

    private async Task Register()
    {
        NavigationManager.NavigateTo("register");
    }

    private async Task Logout()
    {
    }


}