@page "/public-notes"
@attribute [Authorize]

<h3>Notatki publiczne</h3>

@if (!string.IsNullOrEmpty(notesListMessage))
{
    <div class="alert @notesListClass">
    @notesListMessage
</div>
}

@if (notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Podgląd
            </th>
        </tr>
    </thead>
    <tbody>
        @if (notes.Count == 0)
            {
                <tr>
                    <td colspan="2">Brak notatek</td>
                </tr>
            }
            @foreach (var note in notes)
            {
                <tr>
                    <td>@note.Title</td>
                    <td>
                        <a href="@($"note-content/{note.NoteId}?isEncrypted=false")" class="btn btn-primary">Zobacz</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}